.section_1_title_spain {
	color: var(--clr--spain);
}
.section_2_title_spain {
	color: var(--clr--spain);
}
.section_2_subtitle_spain {
	color: var(--clr--spain);
}
.section_2_image_title_spain {
	color: var(--clr--spain);
}
.section_2_image_subtitle_spain {
	color: var(--clr--spain);
}
.section_3_title_spain {
	color: var(--clr--spain);
}
.section_4_title_spain {
	color: var(--clr--spain);
}
.section_4_span_title_spain {
	color: var(--clr--spain);
}
.section_4_title_step_1_title_spain {
	color: var(--clr--spain);
}
.section_4_title_step_1_paragraph_spain {
	color: var(--clr--spain);
}
.section_4_title_step_2_title_spain {
	color: var(--clr--spain);
}
.section_4_title_step_2_paragraph_spain {
	color: var(--clr--spain);
}
.section_4_title_step_3_title_spain {
	color: var(--clr--spain);
}
.section_4_title_step_3_city_name_spain {
	color: var(--clr--spain);
}
.section_4_title_step_4_title_spain {
	color: var(--clr--spain);
}
.section_4_title_step_4_paragraph_spain {
	color: var(--clr--spain);
}
.section_4_title_step_5_title_spain {
	color: var(--clr--spain);
}
.section_4_title_step_5_paragraph_spain {
	color: var(--clr--spain);
}
.section_4_title_step_6_title_spain {
	color: var(--clr--spain);
}
.section_4_title_step_6_paragraph_spain {
	color: var(--clr--spain);
}
.section_4_title_step_7_title_spain {
	color: var(--clr--spain);
}
.section_4_title_step_7_paragraph_spain {
	color: var(--clr--spain);
}
.section_5_title_spain {
	color: var(--clr--spain);
}
.section_6_title_spain {
	color: var(--clr--spain);
}
