.containerSection6 {
	width: 1100px;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 100px 0px;
}

.section6StudyAbroad {
	width: 90%;
	height: 100%;
	position: relative;
}

.section6Title {
	width: 100%;
	text-align: center;
	font-size: 100px;
	font-weight: 300;
	color: var(--clr--purple);
	padding: 15px;
	text-transform: capitalize;
}

.swiper-slideDownload {
	text-align: center;
	font-size: 18px;
	height: 380px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: space-around;
	-ms-flex-pack: space-around;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	border: 1px solid var(--clr--xlight--grey);
	border-radius: 10px;
}
.nextPlacesSection6 {
	display: none;
	position: absolute !important;
	top: 50%;
	right: 0px;
	z-index: 4;
	border-radius: 50%;
	width: 25px;
	height: 25px;
}

.prevPlacesSection6 {
	display: none;
	position: absolute !important;
	top: 50%;
	left: 0px;
	z-index: 4;
	border-radius: 50%;
	width: 25px;
	height: 25px;
}

.containerImageSection6Effect {
	width: 270px;
	height: 290px;
	overflow: hidden;
	border-radius: 10px;
}

.containerImageSection6Effect img {
	transition: transform 0.5s ease;
	border-radius: 10px;
}

.containerImageSection6Effect:hover img {
	transform: scale(1.1);
}

.placesSection6Image {
	width: 270px;
	height: 290px;
	object-fit: cover;
}

.placesSection6IconDwl {
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-image: url("../assets/icons/download.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.swiper-button-prev::after {
	content: "";
}
.swiper-button-next::after {
	content: "";
}

@media only screen and (max-width: 1120px) {
	.containerSection6 {
		width: 900px;
	}
	.containerImageSection6Effect {
		width: 230px;
		height: 270px;
	}
	.placesSection6Image {
		width: 230px;
		height: 270px;
		object-fit: cover;
	}
}

@media only screen and (max-width: 920px) {
	.containerSection6 {
		width: 700px;
	}
}

@media only screen and (max-width: 725px) {
	.section6StudyAbroad {
		width: 350px;
	}
	.containerSection6 {
		width: 100%;
	}
	.nextPlacesSection6 {
		display: flex !important;
	}
	.prevPlacesSection6 {
		display: flex !important;
	}
	.containerImageSection6Effect {
		width: 250px;
		height: 280px;
	}
	.placesSection6Image {
		width: 250px;
		height: 280px;
		object-fit: cover;
	}
}

@media only screen and (max-width: 700px) {
	.section6Title {
		font-size: 60px;
	}
}

@media only screen and (max-width: 400px) {
	.section6StudyAbroad {
		width: 310px;
	}
}
