.section2StudyAbroad {
	width: 100%;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 15px 0px;
}

.gridImagesTitleStudyAbroad {
	width: 100%;
	text-align: center;
	font-size: 106px;
	font-weight: 600;
	color: var(--clr--purple);
}

.containerGridImagesMainStudyAbroad {
	width: 1000px;
	min-height: 500px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}
.gridImagesSubTitleStudyAbroad {
	width: 100%;
	padding: 0px 15px;
	letter-spacing: 4px;
	text-align: center;
	left: 20px;
	position: absolute;
	color: var(--clr--hard--grey);
	font-size: 90px;
	transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.containerGridImagesMainImagesStudyAbroad {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.containerGridImagesMainRowStudyAbroad {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.containerGridImagesMainRowReverseStudyAbroad {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.containerGridImagesMainRowImageStudyAbroad {
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.containerGridImagesMainRowImageWrapperOneStudyAbroad {
	width: 380px;
	height: 280px;
	border-radius: 8px;
	overflow: hidden;
}

.gridImagesMainRowImageWrapperImageOneStudyAbroad {
	width: 100%;
	height: 100%;
	transition: transform 0.5s ease;
}

.gridImagesMainRowImageWrapperImageOneStudyAbroad:hover {
	transform: scale(1.1);
}

.containerGridImagesMainRowImageWrapperTwoStudyAbroad {
	width: 500px;
	height: 280px;
	border-radius: 8px;
	overflow: hidden;
}

.gridImagesMainRowImageWrapperImageTwoStudyAbroad {
	width: 100%;
	height: 100%;
	transition: transform 0.5s ease;
}

.gridImagesMainRowImageWrapperImageTwoStudyAbroad:hover {
	transform: scale(1.1);
}

.containerGridImagesMainRowTitleStudyAbroad {
	width: 100%;
	font-weight: 900;
	color: black;
	text-align: left;
	font-size: 18px;
	transition: transform 0.5s ease;
}

.containerGridImagesMainRowSubTitleStudyAbroad {
	color: var(--clr--hard--grey);
	text-align: left;
	font-size: 12px;
	width: 80%;
	opacity: 0;
	transition: transform 0.5s ease;
}

.addColorPurpleStudyAbroad {
	color: var(--clr--purple);
}

.showDescriptionGridImageStudyAbroad {
	opacity: 1;
}

@media only screen and (max-width: 1060px) {
	.containerGridImagesMainStudyAbroad {
		width: 850px;
	}
	.gridImagesTitleStudyAbroad {
		font-size: 100px;
	}

	.gridImagesSubTitleStudyAbroad {
		padding: 0px 15px;
		left: 20px;
		font-size: 50px;
	}

	.containerGridImagesMainRowImageWrapperOneStudyAbroad {
		width: 300px;
	}
	.containerGridImagesMainRowImageWrapperTwoStudyAbroad {
		width: 450px;
	}
	.containerGridImagesMainRowTitleStudyAbroad {
		font-size: 15px;
	}

	.containerGridImagesMainRowSubTitleStudyAbroad {
		font-size: 10px;
	}
}
@media only screen and (max-width: 888px) {
	.containerGridImagesMainStudyAbroad {
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	.gridImagesTitleStudyAbroad {
		font-size: 80px;
	}
	.gridImagesSubTitleStudyAbroad {
		display: none;
	}
	.containerGridImagesMainRowStudyAbroad {
		flex-direction: column;
	}

	.containerGridImagesMainRowReverseStudyAbroad {
		flex-direction: column;
	}

	.containerGridImagesMainRowImageWrapperOneStudyAbroad {
		width: 500px;
		height: auto;
	}
	.containerGridImagesMainRowImageWrapperTwoStudyAbroad {
		width: 500px;
		height: auto;
	}
	.gridImagesMainRowImageWrapperImageTwoStudyAbroad {
		height: auto;
	}
}

@media only screen and (max-width: 570px) {
	.containerGridImagesMainStudyAbroad {
		flex-direction: column;
	}
	.gridImagesTitleStudyAbroad {
		font-size: 50px;
	}
	.containerGridImagesMainStudyAbroad {
		width: 100%;
	}

	.containerGridImagesMainRowStudyAbroad {
		flex-direction: column;
	}

	.containerGridImagesMainRowReverseStudyAbroad {
		flex-direction: column;
	}

	.containerGridImagesMainRowImageStudyAbroad {
		height: auto;
		justify-content: center;
		align-items: center;
	}

	.containerGridImagesMainRowImageWrapperOneStudyAbroad {
		width: 300px;
		height: auto;
	}
	.gridImagesMainRowImageWrapperImageOneStudyAbroad {
		height: auto;
	}
	.containerGridImagesMainRowImageWrapperTwoStudyAbroad {
		width: 300px;
		height: auto;
	}
	.gridImagesMainRowImageWrapperImageTwoStudyAbroad {
		height: auto;
	}
	.containerGridImagesMainRowTitleStudyAbroad {
		width: 300px;
	}
}
