.section2StudyAbroad {
	width: 100%;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 100px 0px;
}

.section2TitleStudyAbroad {
	width: 100%;
	text-align: center;
	font-size: 106px;
	font-weight: 600;
	color: var(--clr--purple);
}

.containerSection2MainStudyAbroad {
	width: 1000px;
	min-height: 500px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}
.section2SubTitleStudyAbroad {
	width: 100%;
	position: absolute;
	left: 20px;
	font-size: 90px;
	font-weight: 300;
	font-family: var(--ff--Mont);
	letter-spacing: 5px;
	text-align: end;
	color: var(--clr--medium--grey);
	transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.containerSection2MainImagesStudyAbroad {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.containerSection2MainRowStudyAbroad {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.containerSection2MainRowReverseStudyAbroad {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.containerSection2MainRowImageStudyAbroad {
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.containerSection2MainRowImageWrapperOneStudyAbroad {
	width: 380px;
	height: 280px;
	border-radius: 8px;
	overflow: hidden;
}

.section2MainRowImageWrapperImageOneStudyAbroad {
	width: 100%;
	height: 100%;
	transition: transform 0.5s ease;
}

.section2MainRowImageWrapperImageOneStudyAbroad:hover {
	transform: scale(1.1);
}

.containerSection2MainRowImageWrapperTwoStudyAbroad {
	width: 500px;
	height: 280px;
	border-radius: 8px;
	overflow: hidden;
}

.section2MainRowImageWrapperImageTwoStudyAbroad {
	width: 100%;
	height: 100%;
	transition: transform 0.5s ease;
}

.section2MainRowImageWrapperImageTwoStudyAbroad:hover {
	transform: scale(1.1);
}

.containerSection2MainRowTitleStudyAbroad {
	width: 100%;
	font-weight: 900;
	color: black;
	text-align: left;
	font-size: 18px;
	transition: transform 0.5s ease;
	margin: 10px 0px 5px 0px;
}

.containerSection2MainRowSubTitleStudyAbroad {
	color: var(--clr--hard--grey);
	text-align: left;
	font-size: 12px;
	width: 80%;
	opacity: 0;
	transition: transform 0.5s ease;
	margin-bottom: 10px;
}

.addColorPurpleStudyAbroad {
	color: var(--clr--purple);
}

.showDescriptionSection2StudyAbroad {
	opacity: 1;
}

.section2SubTitleStudyAbroadResponsive {
	display: none;
	width: 100%;
	font-size: 50px;
	font-weight: 300;
	font-family: var(--ff--Mont);
	letter-spacing: 5px;
	text-align: center;
	color: var(--clr--medium--grey);
}

@media only screen and (max-width: 1060px) {
	.containerSection2MainStudyAbroad {
		width: 850px;
	}
	.section2TitleStudyAbroad {
		font-size: 100px;
	}

	.section2SubTitleStudyAbroad {
		left: 25px;
		font-size: 80px;
	}

	.containerSection2MainRowImageWrapperOneStudyAbroad {
		width: 300px;
	}
	.containerSection2MainRowImageWrapperTwoStudyAbroad {
		width: 450px;
	}
	.containerSection2MainRowTitleStudyAbroad {
		font-size: 15px;
	}

	.containerSection2MainRowSubTitleStudyAbroad {
		font-size: 10px;
	}
}
@media only screen and (max-width: 888px) {
	.containerSection2MainStudyAbroad {
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	.containerSection2MainRowImageStudyAbroad {
		padding-bottom: 20px;
	}

	.section2TitleStudyAbroad {
		font-size: 80px;
	}
	.section2SubTitleStudyAbroad {
		display: none;
	}
	.section2SubTitleStudyAbroadResponsive {
		display: unset;
		font-size: 80px;
	}
	.containerSection2MainRowStudyAbroad {
		flex-direction: column;
	}

	.containerSection2MainRowReverseStudyAbroad {
		flex-direction: column;
	}

	.containerSection2MainRowImageWrapperOneStudyAbroad {
		width: 500px;
		height: auto;
	}
	.containerSection2MainRowImageWrapperTwoStudyAbroad {
		width: 500px;
		height: auto;
	}
	.section2MainRowImageWrapperImageTwoStudyAbroad {
		height: auto;
	}
}

@media only screen and (max-width: 700px) {
	.section2SubTitleStudyAbroadResponsive {
		font-size: 70px;
	}
}

@media only screen and (max-width: 570px) {
	.containerSection2MainStudyAbroad {
		flex-direction: column;
	}
	.section2TitleStudyAbroad {
		font-size: 50px;
	}
	.section2SubTitleStudyAbroadResponsive {
		font-size: 50px;
	}
	.containerSection2MainStudyAbroad {
		width: 100%;
	}

	.containerSection2MainRowStudyAbroad {
		flex-direction: column;
	}

	.containerSection2MainRowReverseStudyAbroad {
		flex-direction: column;
	}

	.containerSection2MainRowImageStudyAbroad {
		height: auto;
		justify-content: center;
		align-items: center;
	}

	.containerSection2MainRowImageWrapperOneStudyAbroad {
		width: 300px;
		height: auto;
	}
	.section2MainRowImageWrapperImageOneStudyAbroad {
		height: auto;
	}
	.containerSection2MainRowImageWrapperTwoStudyAbroad {
		width: 300px;
		height: auto;
	}
	.section2MainRowImageWrapperImageTwoStudyAbroad {
		height: auto;
	}
	.containerSection2MainRowTitleStudyAbroad {
		width: 300px;
	}
	.containerSection2MainRowSubTitleStudyAbroad {
		width: 100%;
	}
}

@media only screen and (max-width: 430px) {
	.section2SubTitleStudyAbroadResponsive {
		font-size: 40px;
	}
}
