.containerSection4 {
	width: 100%;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 15px 0px;
}

.section4Title {
	width: 800px;
	font-size: 106px;
	font-weight: 600;
}

.section4TitleSpan {
	color: var(--clr--purple);
}

.containerSection4Info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section4Info {
	width: 1000px;
	height: 300px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

.section4InfoNumber {
	width: 100px;
	height: 100px;
	position: relative;
	padding: 0px 10px;
}

.section4InfoNumberBigCircle {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: var(--clr--light--grey);
	z-index: 4;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.section4InfoNumberSmallCircle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--clr--hard--grey);
	z-index: 5;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.section4InfoNumberText {
	width: 20px;
	height: 20px;
	z-index: 6;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-weight: 900;
}

.section4InfoImageContainer {
	width: 230px;
	height: 230px;
	overflow: hidden;
}

.section4InfoImage {
	width: 100%;
	height: 100%;
	transition: transform 0.5s ease;
}
.section4InfoImage:hover {
	transform: scale(1.1);
}

.section4InfoText {
	margin: 0px 10px;
	width: 600px;
}

.section4InfoTextTitle {
	font-size: 22px;
	font-weight: 900;
	color: black;
}

.section4InfoTextDescription {
	font-size: 14px;
	font-weight: 300;
	color: black;
}

@media only screen and (max-width: 990px) {
	.section4Title {
		font-size: 70px;
	}
	.section4InfoImageContainer {
		display: none;
	}
	.section4InfoNumberBigCircle {
		width: 60px;
		height: 60px;
	}
	.section4InfoNumberSmallCircle {
		width: 30px;
		height: 30px;
	}
	.containerSection4Info {
		width: 100%;
	}
	.section4Info {
		width: 100%;
		height: 150px;
	}
	.section4Title {
		width: 100%;
		text-align: center;
	}
	.section4InfoText {
		width: 70%;
	}
	.section4InfoTextTitle {
		width: 100%;
		font-size: 18px;
	}
	.section4InfoTextDescription {
		width: 100%;
		font-size: 12px;
	}
}

@media only screen and (max-width: 700px) {
	.section4InfoText {
		width: 100%;
	}
}

@media only screen and (max-width: 500px) {
	.section4Title {
		font-size: 40px;
	}
}
