.containerSection4 {
	width: 100%;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 50px 0px;
}

.section4Title {
	width: 100%;
	text-align: center;
	font-size: 60px;
	font-weight: 300;
	color: var(--clr--hard--grey);
}

.section4TitleSpan {
	color: var(--clr--purple);
}

.containerSection4Info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("../assets/line.png");
	background-position: left;
	background-repeat: repeat-y;
}

.section4Info {
	width: 750px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15px 0px;
}

.section4InfoNumber {
	width: 100%;
	height: 70px;
	position: relative;
	padding: 0px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.section4InfoNumberText {
	width: 50px;
	height: 50px;
	line-height: 50px;
	z-index: 6;
	text-align: center;
	color: var(--clr--hard--grey);
	font-weight: 900;
	border-radius: 50%;
	border: 1px solid var(--clr--medium--grey);
	background-color: white;
	z-index: 3;
	margin-left: 3px;
}

.section4InfoNumberTitle {
	width: 600px;
	justify-self: flex-end;
	text-align: left;
	font-family: var(--ff--Mont);
	font-size: 40px;
	font-weight: 300;
}

.section4InfoImageContainer {
	width: 230px;
	height: 230px;
	overflow: hidden;
}

.section4InfoImage {
	width: 100%;
	height: 100%;
	transition: transform 0.5s ease;
}
.section4InfoImage:hover {
	transform: scale(1.1);
}

.section4InfoText {
	margin: 0px 10px;
	width: 600px;
	align-self: flex-end;
}

.section4InfoTextDescription {
	font-size: 14px;
	font-weight: 300;
	color: black;
}

/* STEP 1*/

.section4InfoOne {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0px;
	padding: 40px;
}

.section4InfoOneImageCountryContainer {
	width: 150px;
	height: 180px;
	position: relative;
	background-color: var(--clr--cream);
	rotate: -10deg;
}

.section4InfoOneImageCountry {
	width: 100%;
	height: 80%;
	padding: 5px;
}

.section4InfoOneImageFlag {
	width: 100px;
	height: 60px;
	position: absolute;
	bottom: -20px;
	left: 100px;
	rotate: 10deg;
}

.section4InfoOneRibbonContainer {
	width: 200px;
	rotate: -20deg;
}
.section4InfoOneRibbonName {
	width: 100%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-family: var(--ff--Mont);
	background-color: var(--clr--purple);
	color: white;
	margin: 10px 0px;
}
.section4InfoOneRibbonText {
	width: 100%;
	line-height: 25px;
	margin: 10px 0px;
	text-align: center;
	font-family: var(--ff--Mont);
	color: var(--clr--hard--grey);
	text-align: center;
	font-size: var(--fs--name--cards--xxsmall);
}

/* STEP 2 */

.section4InfoTwoText {
	color: var(--clr--medium--grey);
	font-family: var(--ff--Mont);
	font-size: var(--fs--name--cards--xsmall);
	text-align: justify;
}

/* STEP 3 */

.section4InfoThree {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section4InfoThreeCardsContainer {
	width: 600px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.section4InfoThreeCards {
	width: 150px;
	height: 180px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 15px 10px;
	box-shadow: var(--shadow--3d--small--right);
}
.section4InfoThreeCardsImage {
	width: 90%;
}
.section4InfoThreeCardsCity {
	color: var(--clr--hard--grey);
}

/* STEP 4 */

.section4InfoFourText {
	color: var(--clr--medium--grey);
	font-family: var(--ff--Mont);
	font-size: var(--fs--name--cards--xsmall);
	text-align: justify;
}

/* STEP 5 */

.section4InfoFive {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.section4InfoFiveText {
	color: var(--clr--medium--grey);
	font-family: var(--ff--Mont);
	font-size: var(--fs--name--cards--xsmall);
	text-align: justify;
}

/* STEP 6 */
.section4InfoSix {
	position: relative;
}
.section4InfoSixText {
	width: 60%;
	color: var(--clr--medium--grey);
	font-family: var(--ff--Mont);
	font-size: var(--fs--name--cards--xsmall);
	text-align: justify;
	padding-left: 50px;
}
.section4InfoSixImageMap {
	width: 200px;
	height: 110px;
}
.section4InfoSixImageRest {
	position: absolute;
	right: 10px;
	border: 1px solid black;
	width: 140px;
	height: 150px;
	top: -20px;
	rotate: -25deg;
}

/* STEP 7 */
.section4InfoSeven {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.section4InfoSevenText {
	width: 70%;
	color: var(--clr--medium--grey);
	font-family: var(--ff--Mont);
	font-size: var(--fs--name--cards--xsmall);
	text-align: justify;
}
.section4InfoSevenImage {
	width: 120px;
	height: 120px;
}

@media only screen and (max-width: 1020px) {
	.section4Info {
		width: 950px;
	}
}

@media only screen and (max-width: 990px) {
	.section4Title {
		font-size: 70px;
	}
	.section4InfoImageContainer {
		display: none;
	}
	.section4InfoNumberBigCircle {
		width: 60px;
		height: 60px;
	}
	.section4InfoNumberSmallCircle {
		width: 30px;
		height: 30px;
	}
	.containerSection4Info {
		width: 100%;
	}
	.section4Info {
		width: 100%;
		height: 150px;
	}
	.section4Title {
		width: 100%;
		text-align: center;
	}
	.section4InfoText {
		width: 70%;
	}
	.section4InfoTextTitle {
		width: 100%;
		font-size: 18px;
	}
	.section4InfoTextDescription {
		width: 100%;
		font-size: 12px;
	}
}

@media only screen and (max-width: 700px) {
	.section4InfoText {
		width: 100%;
	}
}

@media only screen and (max-width: 500px) {
	.section4Title {
		font-size: 40px;
	}
}
