.section1StudyAbroad {
	width: 100%;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 0px;
}

.section1Title {
	width: 1100px;
	color: var(--clr--hard--grey);
	font-size: 80px;
	font-weight: 300;
	text-align: left;
}

.containerSection1StudyAbroad {
	max-width: 1100px;
	min-height: 530px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.section1ArrowStudyAbroad {
	width: 45px;
	height: 45px;
	opacity: 0;
	transition: transform 0.3s linear;
}

.containerSection1ImageStudyAbroad {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.section1ImageWrapperStudyAbroad {
	width: 450px;
	height: 350px;
	overflow: hidden;
	border: 1px solid var(--clr--medium--grey);
	border-left: 4px solid var(--clr--medium--grey);
	border-bottom: 4px solid var(--clr--medium--grey);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 15px;
}

.section1ImageWrapperMiddleStudyAbroad {
	position: absolute;
	left: 30%;
	right: 25%;
	top: 25%;
}

.section1ImageStudyAbroad {
	width: 430px;
	height: 330px;
	object-fit: cover;
	border: 6px solid white;
	border-radius: 15px;
	transition: transform 0.3s linear;
}
.section1ImageEffectStudyAbroad:hover {
	transform: scale(1.1);
}

.showArrowsTriangleStudyAbroad {
	transition: transform 0.3s linear;
	opacity: 1;
	cursor: pointer;
}

@media only screen and (max-width: 1020px) {
	.containerSection1StudyAbroad {
		width: 100%;
	}
	.section1ImageWrapperStudyAbroad {
		width: 400px;
		height: 300px;
	}
}
@media only screen and (max-width: 910px) {
	.section1ImageStudyAbroad {
		width: 100%;
		height: 100%;
	}
	.containerSection1StudyAbroad {
		width: 100%;
	}
	.section1ImageWrapperStudyAbroad {
		width: 300px;
		height: 200px;
	}
}
@media only screen and (max-width: 675px) {
	.section1ImageStudyAbroad {
		width: 100%;
		height: 100%;
	}
	.containerSection1StudyAbroad {
		width: 100%;
	}
	.section1ImageWrapperStudyAbroad {
		width: 250px;
		height: 150px;
	}
}

@media only screen and (max-width: 600px) {
	.containerSection1StudyAbroad {
		width: 98%;
	}
	.containerSection1ImageStudyAbroad {
		flex-direction: column;
		justify-content: space-around;
		height: 450px;
	}

	.section1ImageWrapperMiddleStudyAbroad {
		width: 280px;
		height: 180px;
		top: 30%;
		left: unset;
		right: unset;
	}
	.section1ArrowStudyAbroad {
		opacity: 1;
	}
}
