.containerSection4 {
	width: 100%;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 50px 0px;
}

.section4Title {
	width: 100%;
	text-align: center;
	font-size: 60px;
	font-weight: 300;
	color: var(--clr--hard--grey);
}

.section4TitleSpan {
	color: var(--clr--purple);
}

.containerSection4Info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("../assets/line.png");
	background-position: left;
	background-repeat: repeat-y;
}

.section4Info {
	width: 750px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15px 0px;
}

.section4InfoNumber {
	width: 100%;
	height: 70px;
	position: relative;
	padding: 0px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.section4InfoNumberText {
	width: 50px;
	height: 50px;
	line-height: 50px;
	z-index: 6;
	text-align: center;
	color: var(--clr--hard--grey);
	font-weight: 900;
	border-radius: 50%;
	border: 1px solid var(--clr--medium--grey);
	background-color: white;
	z-index: 3;
	margin-left: 3px;
}

.section4InfoNumberTitle {
	width: 600px;
	justify-self: flex-end;
	text-align: left;
	font-family: var(--ff--Mont);
	font-size: 40px;
	font-weight: 300;
}

.section4InfoImageContainer {
	width: 230px;
	height: 230px;
	overflow: hidden;
}

.section4InfoImage {
	width: 100%;
	height: 100%;
	transition: transform 0.5s ease;
}
.section4InfoImage:hover {
	transform: scale(1.1);
}

.section4InfoText {
	margin: 0px 10px;
	width: 600px;
	align-self: flex-end;
}

.section4InfoTextDescription {
	font-size: 14px;
	font-weight: 300;
	color: black;
}

/* STEP 1*/

.section4InfoOne {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0px;
	padding: 40px;
}

.section4InfoOneImageCountryContainer {
	width: 150px;
	height: 180px;
	position: relative;
	background-color: var(--clr--cream);
	rotate: -10deg;
}

.section4InfoOneImageCountry {
	width: 100%;
	height: 80%;
	padding: 5px;
}

.section4InfoOneImageFlag {
	width: 100px;
	height: 60px;
	position: absolute;
	bottom: -20px;
	left: 100px;
	rotate: 10deg;
}

.section4InfoOneRibbonContainer {
	width: 250px;
	rotate: -10deg;
}
.section4InfoOneRibbonName {
	width: 100%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-family: var(--ff--Mont);
	background-image: url("../assets/ribbon.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	color: white;
	margin: 10px 0px;
}
.section4InfoOneRibbonText {
	width: 100%;
	line-height: 25px;
	margin: 10px 0px;
	text-align: center;
	font-family: var(--ff--Mont);
	color: var(--clr--hard--grey);
	text-align: center;
	font-size: var(--fs--name--cards--xsmall);
}

/* STEP 2 */

.section4InfoTwoText {
	color: var(--clr--medium--grey);
	font-family: var(--ff--Mont);
	font-size: var(--fs--name--cards--xsmall);
	text-align: justify;
}

/* STEP 3 */

.section4InfoThree {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section4InfoThreeCardsContainer {
	width: 600px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.section4InfoThreeCards {
	width: 150px;
	height: 180px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 15px 10px;
	box-shadow: var(--shadow--3d--small--right);
}
.section4InfoThreeCardsImage {
	width: 90%;
	height: 70%;
}
.section4InfoThreeCardsCity {
	color: var(--clr--hard--grey);
}

/* STEP 4 */

.section4InfoFourText {
	color: var(--clr--medium--grey);
	font-family: var(--ff--Mont);
	font-size: var(--fs--name--cards--xsmall);
	text-align: justify;
}

/* STEP 5 */

.section4InfoFive {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.section4InfoFiveText {
	color: var(--clr--medium--grey);
	font-family: var(--ff--Mont);
	font-size: var(--fs--name--cards--xsmall);
	text-align: justify;
}

/* STEP 6 */
.section4InfoSix {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0px 10px;
}
.section4InfoSixText {
	width: 60%;
	color: var(--clr--medium--grey);
	font-family: var(--ff--Mont);
	font-size: var(--fs--name--cards--xsmall);
	text-align: justify;
}
.section4InfoSixImageMap {
	width: 200px;
	height: 110px;
}
.section4InfoSixImagesContainer {
	width: 10%;
	height: 50px;
	position: relative;
}
.section4InfoSixImageRestContainer {
	position: absolute;
	right: 15px;
	width: 140px;
	height: 170px;
	rotate: -10deg;
	z-index: 4;
	background-color: var(--clr--cream);
}
.section4InfoSixImageRest {
	width: 100%;
}
.section4InfoSixImageClip {
	position: absolute;
	right: 5px;
	top: -19px;
	width: 50px;
	rotate: -65deg;
	z-index: 5;
}
.section4InfoSixImageRestContainerBack {
	position: absolute;
	right: 15px;
	width: 120px;
	height: 170px;
	rotate: -25deg;
	z-index: 1;
	background-color: var(--clr--cream);
}
.section4InfoSixImageRestBack {
	width: 100%;
}

/* STEP 7 */
.section4InfoSeven {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.section4InfoSevenText {
	width: 70%;
	color: var(--clr--medium--grey);
	font-family: var(--ff--Mont);
	font-size: var(--fs--name--cards--xsmall);
	text-align: justify;
}
.section4InfoSevenImage {
	width: 120px;
	height: 120px;
}

@media only screen and (max-width: 800px) {
	.containerSection4Info {
		width: 100%;
	}
	.section4InfoText {
		width: 85%;
	}
	.section4Info {
		width: 100%;
	}
	.section4InfoNumber {
		justify-content: flex-start;
	}
	.section4InfoNumberTitle {
		width: max-content;
		padding-left: 15px;
	}
}

@media only screen and (max-width: 665px) {
	.section4InfoOne {
		flex-direction: column;
	}
	.section4InfoOneRibbonContainer {
		rotate: 0deg;
		margin-top: 35px;
	}
}
@media only screen and (max-width: 600px) {
	.section4InfoFive {
		flex-direction: column;
	}
	.section4InfoSeven {
		flex-direction: column-reverse;
	}
	.section4InfoSix {
		flex-direction: column;
		align-items: center;
	}
	.section4InfoSixImagesContainer {
		width: 150px;
		height: 150px;
		margin: 25px 0px;
	}
	.section4InfoSixText {
		width: 100%;
	}
	.section4InfoSixImageMap {
		margin-top: 20px;
	}

	.section4InfoNumberTitle {
		font-size: 35px;
	}
}

@media only screen and (max-width: 600px) {
	.section4InfoNumberTitle {
		font-size: 20px;
	}

	.section4InfoTextDescription {
		padding-left: 10px;
	}
}
