.section1StudyAbroad {
	width: 100%;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 100px 0px;
}

.section1TitleStudyAbroad {
	width: 70%;
	color: var(--clr--hard--grey);
	font-size: 80px;
	font-weight: 300;
	text-align: left;
	text-transform: capitalize;
}

.containerSection1StudyAbroad {
	max-width: 1100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 10px 0px;
}

.section1ArrowStudyAbroad {
	font-size: 40px;
	padding: 5px;
	color: var(--clr--medium--grey);
	opacity: 0;
	transition: transform 0.3s linear;
}

.containerSection1ImageStudyAbroad {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.section1ImageWrapperStudyAbroad {
	width: 450px;
	height: 350px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
}

.section1ImageWrapperMiddleStudyAbroad {
	position: absolute;
	left: 30%;
	right: 25%;
	top: 25%;
	background: rgba(255, 255, 255, 0.04);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.5px);
	-webkit-backdrop-filter: blur(6.5px);
}

.section1ImageStudyAbroad {
	width: 415px;
	height: 315px;
	object-fit: cover;
	border-radius: 15px;
	transition: transform 0.25s linear;
}

.section1ImageWrapperSecondDivMiddleStudyAbroad {
	width: 415px;
	height: 315px;
	overflow: hidden;
	border-radius: 15px;
}

.section1ImageEffectStudyAbroad:hover {
	transform: scale(1.15);
}

.showArrowsTriangleStudyAbroad {
	transition: transform 0.3s linear;
	opacity: 1;
	cursor: pointer;
}

@media only screen and (max-width: 1020px) {
	.containerSection1StudyAbroad {
		width: 100%;
	}
	.section1ImageWrapperStudyAbroad {
		width: 400px;
		height: 300px;
	}
	.section1ImageStudyAbroad {
		width: 100%;
		height: 265px;
	}
	.section1ImageWrapperSecondDivMiddleStudyAbroad {
		width: 94%;
		height: 265px;
	}
}
@media only screen and (max-width: 910px) {
	.section1TitleStudyAbroad {
		text-align: center;
	}
	.containerSection1StudyAbroad {
		width: 100%;
	}
	.section1ImageWrapperStudyAbroad {
		width: 300px;
		height: 250px;
	}
	.section1ImageStudyAbroad {
		width: 100%;
		height: 215px;
	}
	.section1ImageWrapperSecondDivMiddleStudyAbroad {
		width: 94%;
		height: 215px;
	}
}
@media only screen and (max-width: 675px) {
	.section1TitleStudyAbroad {
		width: 100%;
		text-align: center;
	}
	.containerSection1StudyAbroad {
		width: 100%;
	}
	.section1ImageWrapperStudyAbroad {
		width: 250px;
		height: 180px;
	}
	.section1ImageStudyAbroad {
		width: 100%;
		height: 165px;
	}
	.section1ImageWrapperSecondDivMiddleStudyAbroad {
		width: 94%;
		height: 165px;
	}
}

@media only screen and (max-width: 600px) {
	.section1StudyAbroad {
		padding: 50px 0px;
	}
	.containerSection1StudyAbroad {
		width: 98%;
	}
	.containerSection1ImageStudyAbroad {
		flex-direction: column;
		justify-content: space-around;
		height: 450px;
	}

	.section1ArrowStudyAbroad {
		opacity: 1;
	}

	.section1ImageWrapperStudyAbroad {
		width: 340px;
		height: 290px;
	}

	.section1ImageStudyAbroad {
		width: 100%;
		height: 100%;
	}

	.section1ImageWrapperSecondDivMiddleStudyAbroad {
		width: 100%;
		height: 100%;
	}

	.section1ImageEffectStudyAbroad {
		width: 100%;
		height: 100%;
	}

	.section1ImageWrapperRightStudyAbroad {
		position: absolute;
		margin: 0 auto;
		left: unset;
		right: unset;
		top: unset;
		bottom: unset;
		z-index: 2;
	}
	.section1ImageWrapperMiddleStudyAbroad {
		position: absolute;
		margin: 0 auto;
		left: unset;
		right: unset;
		top: unset;
		bottom: unset;
		z-index: 10;
	}
	.section1ImageWrapperLeftStudyAbroad {
		position: absolute;
		margin: 0 auto;
		left: unset;
		right: unset;
		top: unset;
		bottom: unset;
		z-index: 2;
	}
}

@media only screen and (max-width: 480px) {
	.section1ArrowStudyAbroad {
		opacity: 1;
		z-index: 12;
	}

	.section1ImageWrapperStudyAbroad {
		width: 300px;
		height: 250px;
	}
}
