.section3_5StudyAbroad {
	width: 100%;
	min-height: 400px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	padding: 100px 0px;
	background-color: white;
}

.section3_5StudyAbroadTitle {
	color: var(--clr--hard--grey);
	min-width: 250px;
	text-align: end;
	font-size: var(--fs--name--cards--xxxbig);
	font-family: var(--ff--Mont);
	letter-spacing: 1.5px;
	font-weight: 300;
	text-transform: capitalize;
	padding-left: 50px;
}

.containerSection3_5Wrapper {
	width: 500px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	border-radius: 15px;
	border: 1px solid var(--clr--xxlight--grey);
	background-color: white;
}
.containerSection3_5Img {
	top: 10px;
	width: 420px;
	height: 420px;
	position: absolute;
	overflow: hidden;
	display: none;
	text-decoration: none;
	border-radius: 10px;
	margin-top: 15px;
}
.section3_5Img {
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	transition: transform 0.3s linear;
}
.section3_5Img:hover {
	transition: transform 0.3s linear;
	transform: scale(1.1);
}

.containerSection3_5Text {
	z-index: 10;
	color: white;
	text-decoration: none;
	display: none;
	width: max-content;
	height: 150px;
	flex-direction: column;
}
.containerSection3_5Title {
	font-size: 55px;
	font-weight: 800;
}

.containerSection3_5TextSubtitle {
	font-size: 15px;
	font-weight: 500;
}

.containerSection3_5Dots {
	display: flex;
	flex-direction: row;
	padding: 10px 0px;
}
.section3_5Dot {
	width: 20px;
	height: 20px;
	background-color: var(--clr--light--grey);
	border-radius: 50%;
	margin: 0px 5px;
	cursor: pointer;
}

.showSection3_5Image {
	display: flex;
}

.changeBackgroundColorDot {
	background-color: var(--clr--hard--grey);
}

.showTextContainerCarousel {
	display: flex;
}

@media only screen and (max-width: 990px) {
	.section3_5StudyAbroad {
		flex-direction: column;
	}
	.section3_5StudyAbroadTitle {
		width: 100%;
		text-align: center;
		letter-spacing: 1px;
	}
}

@media only screen and (max-width: 580px) {
	.containerSection3_5Wrapper {
		width: 90%;
		height: 100vw;
	}

	.containerSection3_5Img {
		width: 90%;
		height: 80%;
	}
	.containerSection3_5Title {
		font-size: 35px;
	}
	.containerSection3_5TextSubtitle {
		font-size: 12px;
	}
}
