.containerStepsPlaces {
	width: 100%;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 15px 0px;
}

.stepsPlacesTitle {
	width: 800px;
	font-size: 106px;
	font-weight: 600;
}

.stepsPlacesTitleSpan {
	color: var(--clr--purple);
}

.containerStepsPlacesInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.stepsPlacesInfo {
	width: 1000px;
	height: 300px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

.stepsPlacesInfoNumber {
	width: 100px;
	height: 100px;
	position: relative;
	padding: 0px 10px;
}

.stepsPlacesInfoNumberBigCircle {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: var(--clr--light--grey);
	z-index: 4;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.stepsPlacesInfoNumberSmallCircle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--clr--hard--grey);
	z-index: 5;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.stepsPlacesInfoNumberText {
	width: 20px;
	height: 20px;
	z-index: 6;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-weight: 900;
}

.stepsPlacesInfoImageContainer {
	width: 230px;
	height: 230px;
	overflow: hidden;
}

.stepsPlacesInfoImage {
	width: 100%;
	height: 100%;
	transition: transform 0.5s ease;
}
.stepsPlacesInfoImage:hover {
	transform: scale(1.1);
}

.stepsPlacesInfoText {
	margin: 0px 10px;
	width: 600px;
}

.stepsPlacesInfoTextTitle {
	font-size: 22px;
	font-weight: 900;
	color: black;
}

.stepsPlacesInfoTextDescription {
	font-size: 14px;
	font-weight: 300;
	color: black;
}

@media only screen and (max-width: 990px) {
	.stepsPlacesTitle {
		font-size: 70px;
	}
	.stepsPlacesInfoImageContainer {
		display: none;
	}
	.stepsPlacesInfoNumberBigCircle {
		width: 60px;
		height: 60px;
	}
	.stepsPlacesInfoNumberSmallCircle {
		width: 30px;
		height: 30px;
	}
	.containerStepsPlacesInfo {
		width: 100%;
	}
	.stepsPlacesInfo {
		width: 100%;
		height: 150px;
	}
	.stepsPlacesTitle {
		width: 100%;
		text-align: center;
	}
	.stepsPlacesInfoText {
		width: 70%;
	}
	.stepsPlacesInfoTextTitle {
		width: 100%;
		font-size: 18px;
	}
	.stepsPlacesInfoTextDescription {
		width: 100%;
		font-size: 12px;
	}
}

@media only screen and (max-width: 700px) {
	.stepsPlacesInfoText {
		width: 100%;
	}
}

@media only screen and (max-width: 500px) {
	.stepsPlacesTitle {
		font-size: 40px;
	}
}
