@import url("./boxSearch.css");
@import url("./containers.css");
@import url("./section1StudyAbroad.css");
@import url("./section2StudyAbroad.css");
@import url("./section3_5StudyAbroad.css");
@import url("./section4StudyAbroad.css");
@import url("./section6StudyAbroad.css");
@import url("./jsonStyles_Argentina.css");
@import url("./jsonStyles_Spain.css");

@font-face {
	font-family: "Mont-Book";
	src: url("../assets/fonts/Mont-Book.woff") format("opentype");
	font-weight: 100;
}
@font-face {
	font-family: "Heavy";
	src: url("../assets/fonts/heavy.otf") format("opentype");
	font-weight: 100;
}

:root {
	--clr--cream: #f2f1eb;
	--clr--purple: #602ff7;
	--clr--xxlight--grey: #d9d9d98a;
	--clr--xlight--grey: #d9d9d9c2;
	--clr--light--grey: #d9d9d9;
	--clr--medium--grey: #a7a7a7;
	--clr--hard--grey: #999;
	--clr--black-: #000000;
	--ff--Mont: "Mont-Book";
	--ff--Heavy: "Heavy";

	--shadow--3d--big: 1px 1px 0px var(--clr--hard--grey),
		2px 2px 0px var(--clr--hard--grey), 3px 3px 0px var(--clr--hard--grey),
		4px 4px 0px var(--clr--hard--grey), 5px 5px 0px var(--clr--hard--grey),
		6px 6px 20px 5px var(--clr--hard--grey);

	--shadow--3d--medium: 0px 0px 5px 2px var(--clr--hard--grey);
	--shadow--3d--small: 0px 0px 5px 1px var(--clr--hard--grey);

	--shadow--3d--small--right: -0.5px 0.5px 0px var(--clr--hard--grey),
		-1px 1px 0px var(--clr--hard--grey), -2px 2px 0px var(--clr--hard--grey),
		-3px 3px 0px var(--clr--hard--grey), -4px 4px 0px var(--clr--hard--grey),
		-5px 5px 20px 10px var(--clr--hard--grey);
	--shadow--3d--small--left: 0.5px 0.5px 0px var(--clr--hard--grey),
		1px 1px 0px var(--clr--hard--grey), 2px 2px 0px var(--clr--hard--grey),
		3px 3px 0px var(--clr--hard--grey), 4px 4px 0px var(--clr--hard--grey),
		5px 5px 20px 10px var(--clr--hard--grey);
	--shadow--3d--small--top: 0.5px -0.5px 0px var(--clr--light--grey),
		1px -1px 0px var(--clr--light--grey),
		2px -2px 0px var(--clr--light--grey),
		3px -3px 0px var(--clr--light--grey),
		4px -4px 0px var(--clr--light--grey);

	--shadow--3d--light--left: 0.5px 0.5px 10px var(--clr--hard--grey);
	--shadow--3d--light--right: -0.5px 0.5px 10px var(--clr--hard--grey);

	/* cards NAMES */
	--fs--name--cards--xxxbig: 55px;
	--fs--name--cards--xxbig: 50px;
	--fs--name--cards--xbig: 45px;
	--fs--name--cards--big: 35px;
	--fs--name--cards--large: 30px;
	--fs--name--cards--medium: 28px;
	--fs--name--cards--small: 25px;
	--fs--name--cards--xsmall: 20px;
	--fs--name--cards--xxsmall: 15px;

	/* cards DESCRIPTION */
	--fs--desc--cards--big: 20px;
	--fs--desc--cards--large: 15px;
	--fs--desc--cards--medium: 13px;

	/* COLORES DE PAISES */
	--clr--argentina: #40cfff;
	--clr--spain: #ff0000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--ff--Mont);
}

@media only screen and (max-width: 500px) {
	:root {
		/* cards NAMES */
		--fs--name--cards--xxxbig: 50px;
		--fs--name--cards--xxbig: 45px;
		--fs--name--cards--xbig: 40px;
		--fs--name--cards--big: 30px;
		--fs--name--cards--large: 25px;
		--fs--name--cards--medium: 23px;
		--fs--name--cards--small: 20px;
		--fs--name--cards--xsmall: 15px;
		--fs--name--cards--xxsmall: 13px;

		/* cards DESCRIPTION */
		--fs--desc--cards--big: 15px;
		--fs--desc--cards--large: 12px;
		--fs--desc--cards--medium: 10px;
	}
}
